/* .wrapper {
  display: grid;
} */

body {
  background-color: #fbf7ed;
}
.navbar {
  grid-area: navbar;
  background: #008060;
  padding-bottom: 12px;
}
.content-container {
  display: grid;
  grid-template-areas: "nominations search";
  grid-template-columns: 400px auto;
}

.nominations {
  grid-area: nominations;
<<<<<<< HEAD
  height: 530px;
=======
>>>>>>> 414cfb594998f4a1e27d75188d2632512b0e07cf
}

.search {
  grid-area: search;
}
/* Media Queries */
@media (max-width: 700px) {
  /* For mobile phones: */
  .content-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nominations"
      "search";
  }
<<<<<<< HEAD
  .nominations {
  }
=======
>>>>>>> 414cfb594998f4a1e27d75188d2632512b0e07cf
}
